.searchResultsContainer {
    width: 50%;
    height: auto;
    margin: 0 10px 0 20px;
    padding: 3em 0 0;
    background-color: #330044;
    border: 1px solid #525252;
}

h2 {
    color: #F2F2F2;
}